@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950 h-full;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

a:hover {
  cursor: pointer;
}

h1,
h2,
h3 {
  @apply font-serif;
}

header .hover-slide,
main .hover-slide {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: theme("colors.indigo.800");
    bottom: 0.25em;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }

  &:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: ease-in;
  }
}

footer .hover-slide:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.animate-lift {
  animation: lift 350ms ease-in-out 1;
}

@keyframes lift {
  0%,
  100% {
    transform: translateY(0em);
  }
  20%,
  80% {
    transform: translateY(-0.5em);
  }
}
